<h1>Eat Da Burger</h1>

<h2>Burgers not Eaten</h2>

<ul>
    {{#each burgers}}
     {{#unless eaten}}
        <li>
    {{name}}

        <button class="change-eaten" data-id="{{id}}" data-neweaten="{{eaten}}">
        {{#unless eaten}}EAT UP!{{else}}YUM!{{/unless}}
        </button>
</li>
     {{/unless}}
    {{/each}}
</ul>

<h2>Burgers Eaten</h2>

<ul>
    {{#each burgers}}
     {{#if eaten}}
    <li>
        {{name}}
            {{#if eaten}}YUM!{{else}}EAT UP!{{/if}}
    </li>
     {{/if}}
    {{/each}}
</ul>

<h2>Make a burger</h2>
<form class="create-form">
    <div class="form-group">
        <label for="bu">Kind of Burger</label>
        <input type="text" id="bu" name="kind">
    </div>

    <div class="form-group">
        <label for="eat">Eaten?</label><br>
        <input class="hide" type="radio" name="eaten" value="0" checked> <br>
        <input class="hide" type="radio" name="eaten" value="1" >
    </div>
    <button type="submit">Make Burger</button>
</form>